@model IEnumerable<Country>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add New</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Countries</h3>
            </div>
            <div class="panel-body">
                  <table class="dataTable-default table-hover table-condensed  table-responsive-lg table table-bordered table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-eye"></i></a>
                                    <buton data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash"></i></buton>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#MyTable').DataTable({
                columns: [
                    null,
                    
                    { "orderable": false }
                ],
                 language: {
                    emptyTable: "data to display Showing",
                    zeroRecords: "",
                    info: "Showing _START_ to _END_ of _TOTAL_ Entries",
                    search: "Search:",
                    paginate: {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    lengthMenu: "Showing _MENU_ Entries"
                },
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Countries/Delete/' + item_to_delete;
            });
            //sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Countries/Delete/', false);
        });

           
  
    </script>
}

